name: Waka Readme Stats

on:
  schedule:
    - cron: "0 0 * * *"   # Mise à jour tous les jours à 00:00 UTC
  workflow_dispatch:       # Permet de le lancer à la main

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update WakaTime stats
        uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
